src/NugetDownloadFeed/NugetDownloadCountFeed/Service References/ServiceReference1/Extension.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Extension" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_IVsIdeService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="CustomBinding_IVsIdeService1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://visualstudiogallery.msdn.microsoft.com/Services/v2011/Extension.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://visualstudiogallery.msdn.microsoft.com/Services/v2011/Extension.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://visualstudiogallery.msdn.microsoft.com/Services/v2011/Extension.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://visualstudiogallery.msdn.microsoft.com/Services/v2011/Extension.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Galleries.Domain.Model" />
      <xsd:import schemaLocation="http://visualstudiogallery.msdn.microsoft.com/Services/v2011/Extension.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/VsGallery.WebServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVsIdeService_GetCategoryTree_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryTree" />
  </wsdl:message>
  <wsdl:message name="IVsIdeService_GetCategoryTree_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryTreeResponse" />
  </wsdl:message>
  <wsdl:message name="IVsIdeService_GetCategoryTree_GuidFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" name="detail" element="q1:guid" />
  </wsdl:message>
  <wsdl:message name="IVsIdeService_GetRootCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRootCategories" />
  </wsdl:message>
  <wsdl:message name="IVsIdeService_GetRootCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRootCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IVsIdeService_GetRootCategories_GuidFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" name="detail" element="q2:guid" />
  </wsdl:message>
  <wsdl:message name="IVsIdeService_SearchReleases_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchReleases" />
  </wsdl:message>
  <wsdl:message name="IVsIdeService_SearchReleases_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchReleasesResponse" />
  </wsdl:message>
  <wsdl:message name="IVsIdeService_SearchReleases_GuidFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" name="detail" element="q3:guid" />
  </wsdl:message>
  <wsdl:message name="IVsIdeService_GetRootCategories2_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRootCategories2" />
  </wsdl:message>
  <wsdl:message name="IVsIdeService_GetRootCategories2_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRootCategories2Response" />
  </wsdl:message>
  <wsdl:message name="IVsIdeService_GetRootCategories2_GuidFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" name="detail" element="q4:guid" />
  </wsdl:message>
  <wsdl:message name="IVsIdeService_GetCategoryTree2_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryTree2" />
  </wsdl:message>
  <wsdl:message name="IVsIdeService_GetCategoryTree2_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryTree2Response" />
  </wsdl:message>
  <wsdl:message name="IVsIdeService_GetCategoryTree2_GuidFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" name="detail" element="q5:guid" />
  </wsdl:message>
  <wsdl:message name="IVsIdeService_SearchReleases2_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchReleases2" />
  </wsdl:message>
  <wsdl:message name="IVsIdeService_SearchReleases2_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchReleases2Response" />
  </wsdl:message>
  <wsdl:message name="IVsIdeService_SearchReleases2_GuidFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" name="detail" element="q6:guid" />
  </wsdl:message>
  <wsdl:message name="IVsIdeService_GetCurrentVersionsForVsixList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentVersionsForVsixList" />
  </wsdl:message>
  <wsdl:message name="IVsIdeService_GetCurrentVersionsForVsixList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentVersionsForVsixListResponse" />
  </wsdl:message>
  <wsdl:message name="IVsIdeService_GetCurrentVersionsForVsixList_GuidFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" name="detail" element="q7:guid" />
  </wsdl:message>
  <wsdl:portType name="IVsIdeService">
    <wsdl:operation name="GetCategoryTree">
      <wsdl:input wsaw:Action="http://tempuri.org/IVsIdeService/GetCategoryTree" message="tns:IVsIdeService_GetCategoryTree_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVsIdeService/GetCategoryTreeResponse" message="tns:IVsIdeService_GetCategoryTree_OutputMessage" />
      <wsdl:fault wsaw:Action="http://galleries.msdn.microsoft.com/faults/generic" name="GuidFault" message="tns:IVsIdeService_GetCategoryTree_GuidFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRootCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IVsIdeService/GetRootCategories" message="tns:IVsIdeService_GetRootCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVsIdeService/GetRootCategoriesResponse" message="tns:IVsIdeService_GetRootCategories_OutputMessage" />
      <wsdl:fault wsaw:Action="http://galleries.msdn.microsoft.com/faults/generic" name="GuidFault" message="tns:IVsIdeService_GetRootCategories_GuidFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchReleases">
      <wsdl:input wsaw:Action="http://tempuri.org/IVsIdeService/SearchReleases" message="tns:IVsIdeService_SearchReleases_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVsIdeService/SearchReleasesResponse" message="tns:IVsIdeService_SearchReleases_OutputMessage" />
      <wsdl:fault wsaw:Action="http://galleries.msdn.microsoft.com/faults/generic" name="GuidFault" message="tns:IVsIdeService_SearchReleases_GuidFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRootCategories2">
      <wsdl:input wsaw:Action="http://tempuri.org/IVsIdeService/GetRootCategories2" message="tns:IVsIdeService_GetRootCategories2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVsIdeService/GetRootCategories2Response" message="tns:IVsIdeService_GetRootCategories2_OutputMessage" />
      <wsdl:fault wsaw:Action="http://galleries.msdn.microsoft.com/faults/generic" name="GuidFault" message="tns:IVsIdeService_GetRootCategories2_GuidFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategoryTree2">
      <wsdl:input wsaw:Action="http://tempuri.org/IVsIdeService/GetCategoryTree2" message="tns:IVsIdeService_GetCategoryTree2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVsIdeService/GetCategoryTree2Response" message="tns:IVsIdeService_GetCategoryTree2_OutputMessage" />
      <wsdl:fault wsaw:Action="http://galleries.msdn.microsoft.com/faults/generic" name="GuidFault" message="tns:IVsIdeService_GetCategoryTree2_GuidFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchReleases2">
      <wsdl:input wsaw:Action="http://tempuri.org/IVsIdeService/SearchReleases2" message="tns:IVsIdeService_SearchReleases2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVsIdeService/SearchReleases2Response" message="tns:IVsIdeService_SearchReleases2_OutputMessage" />
      <wsdl:fault wsaw:Action="http://galleries.msdn.microsoft.com/faults/generic" name="GuidFault" message="tns:IVsIdeService_SearchReleases2_GuidFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentVersionsForVsixList">
      <wsdl:input wsaw:Action="http://tempuri.org/IVsIdeService/GetCurrentVersionsForVsixList" message="tns:IVsIdeService_GetCurrentVersionsForVsixList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVsIdeService/GetCurrentVersionsForVsixListResponse" message="tns:IVsIdeService_GetCurrentVersionsForVsixList_OutputMessage" />
      <wsdl:fault wsaw:Action="http://galleries.msdn.microsoft.com/faults/generic" name="GuidFault" message="tns:IVsIdeService_GetCurrentVersionsForVsixList_GuidFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_IVsIdeService" type="tns:IVsIdeService">
    <wsp:PolicyReference URI="#CustomBinding_IVsIdeService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCategoryTree">
      <soap12:operation soapAction="http://tempuri.org/IVsIdeService/GetCategoryTree" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GuidFault">
        <soap12:fault use="literal" name="GuidFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRootCategories">
      <soap12:operation soapAction="http://tempuri.org/IVsIdeService/GetRootCategories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GuidFault">
        <soap12:fault use="literal" name="GuidFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchReleases">
      <soap12:operation soapAction="http://tempuri.org/IVsIdeService/SearchReleases" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GuidFault">
        <soap12:fault use="literal" name="GuidFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRootCategories2">
      <soap12:operation soapAction="http://tempuri.org/IVsIdeService/GetRootCategories2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GuidFault">
        <soap12:fault use="literal" name="GuidFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCategoryTree2">
      <soap12:operation soapAction="http://tempuri.org/IVsIdeService/GetCategoryTree2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GuidFault">
        <soap12:fault use="literal" name="GuidFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchReleases2">
      <soap12:operation soapAction="http://tempuri.org/IVsIdeService/SearchReleases2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GuidFault">
        <soap12:fault use="literal" name="GuidFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentVersionsForVsixList">
      <soap12:operation soapAction="http://tempuri.org/IVsIdeService/GetCurrentVersionsForVsixList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GuidFault">
        <soap12:fault use="literal" name="GuidFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CustomBinding_IVsIdeService1" type="tns:IVsIdeService">
    <wsp:PolicyReference URI="#CustomBinding_IVsIdeService1_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCategoryTree">
      <soap12:operation soapAction="http://tempuri.org/IVsIdeService/GetCategoryTree" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GuidFault">
        <soap12:fault use="literal" name="GuidFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRootCategories">
      <soap12:operation soapAction="http://tempuri.org/IVsIdeService/GetRootCategories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GuidFault">
        <soap12:fault use="literal" name="GuidFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchReleases">
      <soap12:operation soapAction="http://tempuri.org/IVsIdeService/SearchReleases" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GuidFault">
        <soap12:fault use="literal" name="GuidFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRootCategories2">
      <soap12:operation soapAction="http://tempuri.org/IVsIdeService/GetRootCategories2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GuidFault">
        <soap12:fault use="literal" name="GuidFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCategoryTree2">
      <soap12:operation soapAction="http://tempuri.org/IVsIdeService/GetCategoryTree2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GuidFault">
        <soap12:fault use="literal" name="GuidFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchReleases2">
      <soap12:operation soapAction="http://tempuri.org/IVsIdeService/SearchReleases2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GuidFault">
        <soap12:fault use="literal" name="GuidFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentVersionsForVsixList">
      <soap12:operation soapAction="http://tempuri.org/IVsIdeService/GetCurrentVersionsForVsixList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GuidFault">
        <soap12:fault use="literal" name="GuidFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Extension">
    <wsdl:port name="CustomBinding_IVsIdeService" binding="tns:CustomBinding_IVsIdeService">
      <soap12:address location="http://visualstudiogallery.msdn.microsoft.com/Services/v2011/Extension.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://visualstudiogallery.msdn.microsoft.com/Services/v2011/Extension.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="CustomBinding_IVsIdeService1" binding="tns:CustomBinding_IVsIdeService1">
      <soap12:address location="https://co1msdngal97.phx.gbl/Services/v2011/Extension.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://co1msdngal97.phx.gbl/Services/v2011/Extension.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>